<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="passsword_manager.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap" rel="stylesheet">
    <title>Password Manager</title>
</head>
<body>
    <h1>Welcome to Password Manager</h1>
    <div id="reg-form">
        <form action="">
            <img src="security_.jpg" alt="There was supposed to be a picture here">

            <nav>

                <ul class="nav">
                    <button class="buttons">
                        <li><a href="/SignUp">Sign Up</a></li>
                    </button>
                    <button class="buttons">
                        <li><a href="/Login">Log In</a></li>
                    </button>


                </ul>
            </nav>
        </form>
    </div>
</body>
</html>