<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="rest.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap" rel="stylesheet">
    
    <title>Welcome to Password manager</title>
</head>
<body>
    <h1>Password Manager</h1>
    <div>

        <form action="">
            <button class="buttons1"><a href="/Addpassword">Add New Password</a></button>
            <button class="buttons1"><a href="/Updatepassword">Update Password</a></button>
            <br>
            <button class="buttons3"><a href="/">Logout</a></button>
        </form>
    </div>
</body>
</html>