<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="rest.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <div>
        <form action="/Mainpage" method="POST">
            <nav>
            <label for="username" class="text1">Enter a Username</label>
            <br>
            <input type="text" name= "username" placeholder="Username" id="username" class="in1" required>
            <br>
            <label for="password" class="text2">Enter a Password</label>
            <br>
            <input type="password" name="password" id="password" class="in2"required>
        
            <br>
            <label for="agree" class="text3">I agree to all Terms and Conditions</label>
            <input type="checkbox" name="agree" class="text4" required>
            <button type="submit" class="buttons2">
                Submit
            </button>


            </nav>
        </form>

    </div>
</body>
</html>