<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="rest.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap" rel="stylesheet">
    <title>Update Password</title>
</head>
<body>
    <h1>
        Update Password
    </h1>
    <div>
        <form action="/Mainpage">

            <label for="username" class="text1">Website Name</label>
            <br>
            <input type="text" name="username" placeholder="Username" id="username" class="in1" required>
            <br>
            <label for="password" class="text2">Previous Password</label>
            <br>
            <input type="password" name="password" id="password"class="in2" required>
            <br>
            <div>
                <label for="password" class="text5">New Password</label>
            <br>
            <input type="password" name="password" id="password"class="in3" required>
            <br>
            <button type="submit" class="buttons5">
                Submit
            </button>

            
        </form>
    </div>
</body>
</html>